.nav {
  position: fixed;
  width: 100%;
  background-color: rgb(243, 242, 242);
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid #afafaf;
  font-family: "Jua", sans-serif;
  text-align: center;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: inherit;
}
