.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(243, 242, 242);
  padding: 20px 50px;
  border-top: 1px solid #afafaf;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  color: black;
}
